$primary: #30A0EE;
$error: #ef5777;
$success: #1abc9c;
$light: #F5F8FA;
$medium: #657786;
$dark: #34495E;
$white: #fff;
$purple: rgb(182, 12, 182);
$yellow: #bbb81a;
$hopbush: #c69;
$bouquet: #b37399;
$venus: #998099;
$patina: #699;
$midnight-blue: #036;
$wafer: #e1d7d2;
$iron: #dadbdf;
$color-primary: $hopbush;
$color-accent: $patina;
$color-text: darken($medium, 15);
$color-text-invert: rgba($white, .75);
$color-text-strong-invert: $white;
$color-text-link-hover: $midnight-blue;
